*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}
#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 1px;
}
#nav{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 1px solid #000;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h2{
    /* background-color: blue; */
    height: 100%;
    width:22%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid black;
    font-size: 20px;
    font-weight: 500;
 
}
#nav h1{
    height: 100%;
    width:22%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -1px;
    
}
#nav h2:nth-last-child(1){
    width: 10%;

}
#center{
    height: 80%;
    width: 100%;
    /* background-color: red; */
    padding: 3vw;
    position: relative;
}
#content{
    height: 100%;
    width: 100%;
    background-color: gray;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlay{
    height: 40%;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    color: white;
     bottom: 0; 
}
#over1{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 40px;
}
#over1 h1{
    font-size: 3vw;
    font-weight: 450;
    mix-blend-mode: difference;
}
#over1 h2{
    font-size: 1vw;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    border-radius: 50%;
    padding: 1px;
    border: 1px solid white;
}
#over2{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border-top: 1px solid white;
}
#over2 h4{
    font-size: 1.8vw;
    font-weight: 500;
}